@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

@font-face {
    font-family: Consolas;
    src: url("../../fonts/consolas/1db29588408eadbd4406aae9238555eb.eot");
    src:
        url("../../fonts/consolas/1db29588408eadbd4406aae9238555eb.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/consolas/1db29588408eadbd4406aae9238555eb.woff2") format("woff2"),
        url("../../fonts/consolas/1db29588408eadbd4406aae9238555eb.woff") format("woff"),
        url("../../fonts/consolas/1db29588408eadbd4406aae9238555eb.ttf") format("truetype"),
        url("../../fonts/consolas/1db29588408eadbd4406aae9238555eb.svg#Consolas") format("svg");
}

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px 20px 20px 40px;
    height: calc(100vh - var(--navbar-height));
    overflow: auto;
}
